.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__content {
  display: inline;
}

.text-type__cursor {
  margin-left: 0.12em;
  display: inline-block;
  opacity: 1;
  animation-name: textTypeCursorBlink;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.text-type__cursor--hidden {
  display: none;
}

@keyframes textTypeCursorBlink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
